/*  Top requests styles  */
.top-req-wrapper{
	    display: flex;
		justify-content: space-around;
		text-align: center;
	 }

	 .top-req-wrapper a{
	    display:block;
	    padding: 20px;
		flex-basis: 100%;
		text-decoration: none;
		border-right: 1px solid rgba(255, 0, 0, 0.2);
	 }

	 .top-req-wrapper a:last-child{
	    border:none;
	 }

	 .top-req-wrapper a:hover{
	    background-color: rgb(242,242,242);
	 }

	 .top-req-wrapper a span{
	    display: block;
	 }

	 .top-req-wrapper a span:first-child{
	    font-size: 37.5px;
	    margin-bottom: 10px;
	 }

     .top-req-text{
	    color: #999;
		Arial, sans-serif;
		font-size:16px;
	 }