.customFields{
    color: rgba(0,0,0,.87);
    display: flex;
    padding-top: 16px;
    font-size: 14px;
}

.modalOpen{
    opacity: 0;
}

.systemNameSelect{
    width: 100%;
    padding: 3px;
    border-color: grey
}